<!doctype html>
<html class="no-js" lang="zxx">
    <head>
		<!-- Meta Tags -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Document title -->
		<title th:text="#{Home.title}">DermaSign</title>

		<!-- Favicon -->
		<link rel="icon" href="#">

		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Cookie&family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Cookie&family=Dancing+Script:wght@400..700&family=Lobster&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Cookie&family=Dancing+Script:wght@400..700&family=Lobster&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<!-- Nice Select CSS -->
		<link rel="stylesheet" href="/css/nice-select.css">
		<!-- Font Awesome CSS -->
		<link rel="stylesheet" href="/css/font-awesome.min.css">
		<!-- icofont CSS -->
		<link rel="stylesheet" href="/css/icofont.css">
		<!-- Slicknav -->
		<link rel="stylesheet" href="/css/slicknav.min.css">
		<!-- Owl Carousel CSS -->
		<link rel="stylesheet" href="/css/owl-carousel.css">
		<!-- Datepicker CSS -->
		<link rel="stylesheet" href="/css/datepicker.css">
		<!-- Animate CSS -->
		<link rel="stylesheet" href="/css/animate.min.css">
		<!-- Magnific Popup CSS -->
		<link rel="stylesheet" href="/css/magnific-popup.css">

		<link rel="stylesheet" href="/css/normalize.css">
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="/css/responsive.css">
		<link rel="stylesheet" href="/css/udf.css">
		<link rel="stylesheet" href="/css/handy.css">

		<!-- AOS CSS -->
		<link href="/css/aos.css" rel="stylesheet">

		<!-- Fotorama-->
		<link href="/css/fotorama.css" rel="stylesheet">
		
    </head>
    <body>


	<!-- Header Area -->
	<header class="header">
		<!-- Topbar -->
		<div class="topbar">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-5 col-12">
						<ul class="top-link">
							<li><a th:href="@{/(localeData='de_DE')}"><img src="/img/german-flag.jpg" alt="DE" width="30" height="30"></a></li>
							<li><a th:href="@{/(localeData='en_US')}"><img src="/img/english-flag.jpg" alt="EN" width="30" height="30"></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- End Topbar -->
		<!-- Header Inner -->
		<div class="header-inner">
			<div class="container">
				<div class="inner">
					<div class="row">
						<div class="col-lg-3 col-md-3 col-12">
							<!-- Start Logo -->
							<div class="logo">
								<a href="homepage.html" th:href="@{/}"><img src="/img/Homepage/dermasign_logo.png" alt="#"
																			width=175 height=25></a>
							</div>
							<!-- End Logo -->
							<!-- Mobile Nav -->
							<div class="mobile-nav"></div>
							<!-- End Mobile Nav -->
						</div>
						<div class="col-lg-7 col-md-9 col-12">
							<!-- Main Menu -->
							<div class="main-menu">
								<nav class="navigation">
									<ul class="nav menu">
										<li class="active"><a href="#" th:href="@{/}" th:text="#{Header.homepage}">Home</a></li>
										<li >
											<a th:href="@{/products}">
												<span th:utext="#{Header.product}"></span>
												<i class="icofont-rounded-down"></i>
											</a>
											<div class="dropdown-background"></div>
											<ul class="dropdown">
												<!-- 第一列：Product Type -->
												<div class="category-column">
													<div class="category-title" style=" color: black; font-size: 1.25em" th:text="#{Header.category1}">Product Type</div>
													<ul class="products-list" th:with="text1=#{Header.category1}">
														<li th:with="text2=#{Header.category1.type1}"><a href="#" th:href="@{'/products?topClass=Product Type&type=Professional Clean&text1=' + ${text1} + '&text2=' + ${text2}}" th:text="${text2}">Professional Clean</a></li>
														<li th:with="text2=#{Header.category1.type2}"><a href="#" th:href="@{'/products?topClass=Product Type&type=Refreshing and Hydrating&text1=' + ${text1} + '&text2=' + ${text2}}" th:text="${text2}">Refreshing and Hydrating</a></li>
														<li th:with="text2=#{Header.category1.type3}"><a href="#" th:href="@{'/products?topClass=Product Type&type=Eye Care&text1=' + ${text1} + '&text2=' + ${text2}}" th:text="${text2}">Eye Care</a></li>
														<li th:with="text2=#{Header.category1.type4}"><a href="#" th:href="@{'/products?topClass=Product Type&type=Moisturizing Essence&text1=' + ${text1} + '&text2=' + ${text2}}" th:text="${text2}">Moisturizing Essence</a></li>
														<li th:with="text2=#{Header.category1.type5}"><a href="#" th:href="@{'/products?topClass=Product Type&type=Acne Removing Essence&text1=' + ${text1} + '&text2=' + ${text2}}" th:text="${text2}">Acne Removing Essence</a></li>
														<li th:with="text2=#{Header.category1.type6}"><a href="#" th:href="@{'/products?topClass=Product Type&type=Repair Essence&text1=' + ${text1} + '&text2=' + ${text2}}" th:text="${text2}">Repair Essence</a></li>
														<li th:with="text2=#{Header.category1.type7}"><a href="#" th:href="@{'/products?topClass=Product Type&type=Anti-aging Essence&text1=' + ${text1} + '&text2=' + ${text2}}" th:text="${text2}">Anti-aging Essence</a></li>
														<li th:with="text2=#{Header.category1.type8}"><a href="#" th:href="@{'/products?topClass=Product Type&type=Repair Cream&text1=' + ${text1} + '&text2=' + ${text2}}" th:text="${text2}">Repair Cream</a></li>
														<li th:with="text2=#{Header.category1.type9}"><a href="#" th:href="@{'/products?topClass=Product Type&type=Conditioning Mask&text1=' + ${text1} + '&text2=' + ${text2}}" th:text="${text2}">Conditioning Mask</a></li>
														<li th:with="text2=#{Header.category1.type10}"><a href="#" th:href="@{'/products?topClass=Product Type&type=Sun Protection&text1=' + ${text1} + '&text2=' + ${text2}}" th:text="${text2}">Sun Protection</a></li>
													</ul>
												</div>

												<!-- 第二列：Skin Problem -->
												<div class="category-column">
													<div class="category-title" style="color: black; font-size: 1.25em" th:text="#{Header.category2}">Skin Problem</div>
													<ul class="skin-concern-list" th:with="text1=#{Header.category2}">
														<li th:with="text2=#{Header.category2.type1}"><a href="#" th:href="@{'/products?topClass=Skin Problem&type=Sensitive&text1=' + ${text1} + '&text2=' + ${text2}}" th:text="${text2}">Sensitive</a></li>
														<li th:with="text2=#{Header.category2.type2}"><a href="#" th:href="@{'/products?topClass=Skin Problem&type=Acne&text1=' + ${text1} + '&text2=' + ${text2}}" th:text="${text2}">Acne</a></li>
														<li th:with="text2=#{Header.category2.type3}"><a href="#" th:href="@{'/products?topClass=Skin Problem&type=Stain&text1=' + ${text1} + '&text2=' + ${text2}}" th:text="${text2}">Stain</a></li>
														<li th:with="text2=#{Header.category2.type4}"><a href="#" th:href="@{'/products?topClass=Skin Problem&type=Dryness&text1=' + ${text1} + '&text2=' + ${text2}}" th:text="${text2}">Dryness</a></li>
														<li th:with="text2=#{Header.category2.type5}"><a href="#" th:href="@{'/products?topClass=Skin Problem&type=Anti-aging&text1=' + ${text1} + '&text2=' + ${text2}}" th:text="${text2}">Anti-aging</a></li>
													</ul>
												</div>

												<!-- 第三列：Nursing Stage -->
												<div class="category-column">
													<div class="category-title" style="color: black; font-size: 1.25em" th:text="#{Header.category3}">Nursing Stage</div>
													<ul class="ingredients-list" th:with="text1=#{Header.category3}">
														<li th:with="text2=#{Header.category3.type1}"><a href="#" th:href="@{'/products?topClass=Nursing Stage&type=Barrier Repair&text1=' + ${text1} + '&text2=' + ${text2}}" th:text="${text2}">Barrier Repair</a></li>
														<li th:with="text2=#{Header.category3.type2}"><a href="#" th:href="@{'/products?topClass=Nursing Stage&type=Verbesserung&text1=' + ${text1} + '&text2=' + ${text2}}" th:text="${text2}">Verbesserung</a></li>
														<li th:with="text2=#{Header.category3.type3}"><a href="#" th:href="@{'/products?topClass=Nursing Stage&type=Optimierung&text1=' + ${text1} + '&text2=' + ${text2}}" th:text="${text2}">Optimierung</a></li>
														<li th:with="text2=#{Header.category3.type4}"><a href="#" th:href="@{'/products?topClass=Nursing Stage&type=Anti-Aging&text1=' + ${text1} + '&text2=' + ${text2}}" th:text="${text2}">Anti-Aging</a></li>
													</ul>
												</div>
											</ul>


										</li>
										<li><a href="#" th:href="@{/pro}" th:text="#{Header.prof}">For Professionals</a>
										</li>
										<li><a href="#" th:href="@{/edu}" th:text="#{Header.edu}">Education</a></li>
										<li><a href="#" th:href="@{/about}" th:text="#{Header.about}">About Us</a></li>
										<!--											<li><a href="#" th:href="@{/news}" th:text="#{Header.news}">News </a></li>-->
									</ul>
								</nav>
							</div>
							<!--/ End Main Menu -->
						</div>
						<div class="col-lg-2 col-12">
							<div class="get-quote">
								<a href="#" th:href="@{/contact}" th:text="#{Header.contact}" class="btn">CONTACT</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/ End Header Inner -->
	</header>
	<!-- End Header Area -->

		<!-- Slider Area -->
		<section class="slider">
			<div id="videoContainer">
				<video id="backgroundVideo" autoplay muted loop playsinline>
					<source src="/video/HomePage-Video.mp4" type="video/mp4">
					Your browser does not support the video tag.
				</video>
				<div id="textOverlay">
					<p style="color: black;" th:utext="#{Home.slider.text1}">DERMASIGN PRODUCTS</p>
					<p style="color: black;" th:utext="#{Home.slider.text2}">Healthy Signal &middot; Healthy Skin</p>
				</div>
			</div>
		</section>
		<!--/ End Slider Area -->

		<!-- Start Schedule Area -->
		<section class="schedule">
			<div class="container">
				<div class="schedule-inner">
					<div class="row">
						<div class="col-lg-12 col-md-6 col-12 ">
							<!-- single-schedule -->
							<div class="single-schedule">
								<div class="inner">
									<div class="icon">
										<i class="icofont-laboratory"></i>
									</div>
									<div class="single-content">
										<span style="color:#757575; font-size: 1.5em" th:text="#{Home.schedule.text1}">Do you have any skin concern?</span>
										<div class="roller">
											<span id="rolltext">
												<span class="spanE" style="color:#888888;" th:utext="#{Home.schedule.p1}">HTML</span><br/>
												<span class="spanE" style="color:#888888;" th:utext="#{Home.schedule.p2}">CSS</span><br/>
												<span class="spanE" style="color:#888888;" th:utext="#{Home.schedule.p3}">Curiosity</span><br/>
												<span class="spanE" style="color:#888888;" th:utext="#{Home.schedule.p4}">Curiosity</span><br/>
												<span class="spanE" style="color:#888888;" th:utext="#{Home.schedule.p5}">Curiosity</span><br/>
											</span>
										</div>
										<a href="#" th:href="@{/edu}" th:text="#{Home.schedule.text3}">LEARN MORE<i class="fa fa-long-arrow-right"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/End Start schedule Area -->


		<!-- Start WHY CHOOSE US 1 -->
		<section class="sliderBackground" style="background-color: #f8f6f9;">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h2 th:text="#{Home.sliderBackground.text1}">SECRET OF STAYING YOUNG</h2>
							<p th:text="#{Home.sliderBackground.text2}">There is nothing like having a healthy skin barrier to stay young</p>
						</div>
					</div>
				</div>
				<div class="container Feautes">
					<div class="row">
						<div class="col-lg-3 col-12">
							<!-- Start Single features -->
							<div class="single-features">
								<div class="signle-icon">
									<i class="icofont icofont-shield"></i>
								</div>
								<h3 th:text="#{Home.sliderBackground.text3}">Barrier Repair</h3>
								<p th:text="#{Home.sliderBackground.text4}">By supplementing high-quality lipids, it regulates skin cells, enhances cell structure integrity, strengthens the skin barrier, and restores health.</p>
							</div>
							<!-- End Single features -->
						</div>
						<div class="col-lg-3 col-12">
							<!-- Start Single features -->
							<div class="single-features">
								<div class="signle-icon">
									<i class="icofont icofont-medicine"></i>
								</div>
								<h3 th:text="#{Home.sliderBackground.text5}">Skin Improve</h3>
								<p th:text="#{Home.sliderBackground.text6}">Targeted effect of active ingredients can regulate sebum, resist oxidative damage and inhibit skin inflammation.</p>
							</div>
							<!-- End Single features -->
						</div>
						<div class="col-lg-3 col-12">
							<!-- Start Single features -->
							<div class="single-features">
								<div class="signle-icon">
									<i class="icofont icofont-refresh"></i>
								</div>
								<h3 th:text="#{Home.sliderBackground.text7}">Skin Transform</h3>
								<p th:text="#{Home.sliderBackground.text8}">The active ingredients repair skin cells and tissues, improving and preventing skin problems comprehensively.</p>
							</div>
							<!-- End Single features -->
						</div>
						<div class="col-lg-3 col-12">
							<!-- Start Single features -->
							<div class="single-features last">
								<div class="signle-icon">
									<i class="icofont icofont-dna"></i>
								</div>
								<h3 th:text="#{Home.sliderBackground.text9}">Anti-Aging</h3>
								<p th:text="#{Home.sliderBackground.text10}">Regulating skin cell signals, promoting circulation, renewal, and collagen proliferation, it improves wrinkles and delays aging.</p>
							</div>
							</div>
							<!-- End Single features -->
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End WHY CHOOSE US 1 -->·


		<!-- Start Introduction -->
		<section class="why-choose section" >
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h2 th:text="#{Home.why-choose.text1}">DERMASIGN BIOMIMETIC PRODUCTS</h2>
<!--							<img src="img/section-img.png" alt="#">-->
							<p th:text="#{Home.why-choose.text2}">Breaking the Cycle of Inflammation and Skin Issues</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 col-12">
						<!-- Start Choose Left -->
						<div class="choose-left">
							<h3 th:text="#{Home.why-choose.text3}">Skin Barrier Repair</h3>
							<p th:text="#{Home.why-choose.text4}">When there is a gap in the skin barrier, the integrity of the overall structure of the skin will be destroyed, which will eventually lead to a vicious circle of skin barrier change and inflammation, and induce skin problems.</p>
							<p th:text="#{Home.why-choose.text5}">Our research shows that comprehensive repair can effectively stop this vicious circle and reduce inflammation, dryness, oil, acne, aging and other problems.</p>
							<div class="row">
								<div class="col-lg-6">
									<ul class="list">
										<li th:utext="#{Home.why-choose.text6}"><i class="fa fa-caret-right"></i>Scientific Cleaning</li>
										<li th:utext="#{Home.why-choose.text7}"><i class="fa fa-caret-right"></i>Simulated Bionic Barrier</li>
										<li th:utext="#{Home.why-choose.text8}"><i class="fa fa-caret-right"></i>Against Oxidative Damage</li>
									</ul>
								</div>
								<div class="col-lg-6">
									<ul class="list">
										<li th:utext="#{Home.why-choose.text9}"><i class="fa fa-caret-right"></i>Strengthens Immune</li>
										<li th:utext="#{Home.why-choose.text10}"><i class="fa fa-caret-right"></i>Strengthen Metabolism</li>
										<li th:utext="#{Home.why-choose.text11}"><i class="fa fa-caret-right"></i>Activation to Renew Skin Tissue</li>
									</ul>
								</div>
							</div>
						</div>
						<!-- End Choose Left -->
					</div>
					<div class="col-lg-6 col-12">
						<!-- Start Choose Rights -->
						<div class="choose-right">
							<div class="video-image">
								<a href="https://www.youtube.com/watch?v=POTKYvDMJd8" class="video video-popup mfp-iframe"><i class="fa fa-play"></i></a>
							</div>
						</div>
						<!-- End Choose Rights -->
					</div>
				</div>
			</div>
		</section>
		<!--/ End Introduction -->

	<section class="news-single section" style="background-color: #f8f6f9;">
		<div class="container">
			<div class="col-12">
				<div class="section-title">
					<h2 th:text="#{Home.newsSingle.text1}">OUR FEATURES</h2>
					<p th:text="#{Home.newsSingle.text2}">We provide targeted solutions</p>
				</div>
				<div class="news-text mt-5">
					<div class="row align-items-center" style="padding-bottom: 25px">
						<div class="col-lg-12 col-md-12 col-12" style="text-align: center;">
							<h5 th:text="#{Home.newsSingle.text3}">For over 50 years, we’ve focused on</h5>
							<h5 th:text="#{Home.newsSingle.text4}">Minimalism in skin care, Regulating skin signals and Releasing cellular energy to promote self-repair.</h5>
							<br>
							<p th:text="#{Home.newsSingle.text5}">This enhances skin condition, strengthens the barrier, and keeps the dermis active for youthful skin.</p>
						</div>
						<br>
					</div>
				</div>
				<div class="news-text mt-5">F
					<div class="row align-items-center">
						<div class="col-lg-7 col-md-7 col-12 text-center" data-aos="fade-right" data-aos-offset="200" data-aos-duration="2000">
							<div style="width: 100%; max-width: 676px; aspect-ratio: 2 / 1; position: relative;">
								<img src="/img/Homepage/pic_1.jpg" alt="Description of the image" style="width: 100%; height: 100%; object-fit: contain;">
							</div>
						</div>
						<div class="col-lg-5 col-md-5 col-12" style="text-align: center;">
							<h5 th:text="#{Home.newsSingle.text6}">DERMAGISN's core technology</h5>
							<h5 th:text="#{Home.newsSingle.text7}">Mimics the natural keratin barrier, Repairing damage and Strengthening skin barrier function.</h5>
							<br>
							<p th:text="#{Home.newsSingle.text8}">With enhanced hydration and a healthy immune cycle, it effectively reduces redness, dryness, and acne, while brightening and moisturizing the skin.</p>
						</div>
					</div>
				</div>
				<div class="news-text mt-5">
					<div class="row align-items-center">
						<!-- 文字部分 -->
						<div class="col-lg-5 col-md-5 col-12 text-center text-content">
							<h5 th:text="#{Home.newsSingle.text9}">Oily skin issues fall into two categories:</h5>
							<h5 th:text="#{Home.newsSingle.text10}">Excess oil and Inflammation.</h5>
							<br>
							<p th:text="#{Home.newsSingle.text11}">DERMASIGN addresses these with targeted, layer-by-layer repair to strengthen the barrier, balance hydration and oil, regulate sebaceous glands, and combat inflammation through antibacterial and anti-inflammatory action.</p>
						</div>
						<!-- 图片部分 -->
						<div class="col-lg-7 col-md-7 col-12 text-center image-content" data-aos="fade-left" data-aos-offset="200" data-aos-duration="2000">
							<div style="width: 100%; max-width: 676px; aspect-ratio: 2 / 1; position: relative;">
								<img src="/img/Homepage/pic_2.jpg" alt="Description of the image" style="width: 100%; height: 100%; object-fit: contain;">
							</div>
						</div>
					</div>
				</div>

				<div class="news-text mt-5">
					<div class="row align-items-center">
						<div class="col-lg-7 col-md-7 col-12 text-center" data-aos="fade-right" data-aos-offset="200" data-aos-duration="2000">
							<div style="width: 100%; max-width: 676px; aspect-ratio: 2 / 1; position: relative;">
								<img src="/img/Homepage/pic_3.jpg" alt="Description of the image" style="width: 100%; height: 100%; object-fit: contain;">
							</div>
						</div>
						<div class="col-lg-5 col-md-5 col-12" style="text-align: center;">
							<h5 th:text="#{Home.newsSingle.text12}">DERMASIGN Anti-aging Essence</h5>
							<h5 th:text="#{Home.newsSingle.text13}">An active dermis is crucial for anti-aging.</h5>
							<br>
							<p th:text="#{Home.newsSingle.text14}">Building on barrier repair, uses advanced activation technology to maintain a healthy dermal matrix, collagen, and fibers, effectively delaying skin aging.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
		<!-- Start Products Overview -->
	<section class="portfolio section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-title">
						<h2 th:text="#{Home.portfolio.text1}">Products List</h2>
						<p th:text="#{Home.portfolio.text2}">Explore the products that bring out your natural beauty</p>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12 col-12">
					<div class="owl-carousel portfolio-slider">
						<!-- Thymeleaf 'each' loop starts here -->
						<div class="single-pf" th:each="product : ${randomProducts}" style="display: flex; justify-content: center; align-items: center; width: 300px; height: 300px;">
							<img th:src="@{|/img/Product/${#strings.contains(product.picName, ';') ? #strings.substringBefore(product.picName, ';') : product.picName}|}" alt="Product Image" style="max-width: 100%; max-height: 100%; object-fit: contain;">
							<a th:href="@{/single-product/{id}(id=${product.id})}" class="btn" th:text="#{Home.portfolio.viewDetails}">View Details</a>
						</div>
						<!-- Thymeleaf 'each' loop ends here -->
					</div>
				</div>
			</div>
		</div>
	</section>
		<!--/ End Products Overview-->


		<!-- Start Blog Area -->
		<section class="blog section" id="blog" style="background-color: #f8f6f9;">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h2 th:text="#{Home.blog.text1}">Keep up with Our Most Recent News</h2>
<!--							<img src="img/section-img.png" alt="#">-->
<!--							<p>Lorem ipsum dolor sit amet consectetur adipiscing elit praesent aliquet. pretiumts</p>-->
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 col-md-6">
<!--						&lt;!&ndash; Single Blog &ndash;&gt;-->
<!--						<div class="single-news">-->
<!--							<div class="news-head">-->
<!--								<img src="/img/news1.png" alt="#" >-->
<!--							</div>-->
<!--							<div class="news-body">-->
<!--								<div class="news-content">-->
<!--									<div class="date">22 Aug, 2020</div>-->
<!--									<h2><a href="#" th:href="@{/blog-details}">20 GESUNDHEITSVORTEILE VON OLIVEN</a></h2>-->
<!--									<p class="text">Lorem ipsum dolor a sit ameti, consectetur adipisicing elit, sed do eiusmod tempor incididunt sed do incididunt sed.</p>-->
<!--								</div>-->
<!--							</div>-->
<!--						</div>-->
<!--						&lt;!&ndash; End Single Blog &ndash;&gt;-->
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Single Blog -->
						<div class="single-news">
							<div class="news-head">
								<img src="/img/news1.png" alt="#">
							</div>
							<div class="news-body">
								<div class="news-content">
									<div class="date">August 07, 2024</div>
									<h2><a href="#" th:href="@{/blog-details}" th:text="#{Home.newsContent.title}">20 GESUNDHEITSVORTEILE VON OLIVEN</a></h2>
									<p class="text" th:text="#{Home.newsContent.description}">Wir teilen gerne die neuesten Entwicklungen und Neuigkeiten für Sie</p>
								</div>

							</div>
						</div>
						<!-- End Single Blog -->
					</div>
<!--					<div class="col-lg-4 col-md-6 col-12">-->
<!--						&lt;!&ndash; Single Blog &ndash;&gt;-->
<!--						<div class="single-news">-->
<!--							<div class="news-head">-->
<!--								<img src="/img/news1.png" alt="#" >-->
<!--							</div>-->
<!--							<div class="news-body">-->
<!--								<div class="news-content">-->
<!--									<div class="date">05 Jan, 2020</div>-->
<!--									<h2><a href="#" th:href="@{/blog-details}">20 GESUNDHEITSVORTEILE VON OLIVEN</a></h2>-->
<!--									<p class="text">Lorem ipsum dolor a sit ameti, consectetur adipisicing elit, sed do eiusmod tempor incididunt sed do incididunt sed.</p>-->
<!--								</div>-->
<!--							</div>-->
<!--						</div>-->
<!--						&lt;!&ndash; End Single Blog &ndash;&gt;-->
<!--					</div>-->
				</div>
				<div class="single-link">
					<a href="#" th:href="@{/blogs-overview}" th:text="#{Home.schedule.text3}">LEARN MORE<i class="fa fa-long-arrow-right"></i></a>
				</div>
			</div>
		</section>
		<!-- End Blog Area -->

	<!-- Footer Area -->
	<footer id="footer" class="footer">
		<!-- Footer Top -->
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-12">
						<div class="single-footer">
							<h2 th:text="#{Home.footer.aboutUs.title}">About Us</h2>
							<p th:text="#{Home.footer.aboutUs.text}">We have been working on skin barrier repair for more than 50 years, and have found a way to solve skin problems and keep young with excellent results.</p>
							<!-- Social -->
							<ul class="social">
								<li><a href="#"><i class="icofont-facebook"></i></a></li>
								<li><a href="#"><i class="icofont-google-plus"></i></a></li>
								<li><a href="#"><i class="icofont-twitter"></i></a></li>
								<li><a href="#"><i class="icofont-vimeo"></i></a></li>
								<li><a href="#"><i class="icofont-pinterest"></i></a></li>
							</ul>
							<!-- End Social -->
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<div class="single-footer f-link">
							<h2 th:text="#{Home.footer.quickLinks.title}">Quick Links</h2>
							<div class="row">
								<div class="col-lg-6 col-md-6 col-12">
									<ul>
										<li><a href="#" th:href="@{/}"><i class="fa fa-caret-right" aria-hidden="true"></i><span th:text="#{Home.footer.quickLinks.home}">Home</span></a></li>
										<li><a href="#" th:href="@{/about}"><i class="fa fa-caret-right" aria-hidden="true"></i><span th:text="#{Home.footer.quickLinks.aboutUs}">About Us</span></a></li>
										<li><a href="#" th:href="@{/products}"><i class="fa fa-caret-right" aria-hidden="true"></i><span th:text="#{Home.footer.quickLinks.products}">Products</span></a></li>
										<li><a href="#" th:href="@{/blogs-overview}"><i class="fa fa-caret-right" aria-hidden="true"></i><span th:text="#{Home.footer.quickLinks.blogs}">Blogs</span></a></li>
									</ul>
								</div>
								<div class="col-lg-6 col-md-6 col-12">
									<ul>
										<li><a href="#" th:href="@{/pro}"><i class="fa fa-caret-right" aria-hidden="true"></i><span th:text="#{Home.footer.quickLinks.forPro}">For Pro</span></a></li>
										<li><a href="#" th:href="@{/edu}"><i class="fa fa-caret-right" aria-hidden="true"></i><span th:text="#{Home.footer.quickLinks.education}">Education</span></a></li>
										<li><a href="#" th:href="@{/contact}"><i class="fa fa-caret-right" aria-hidden="true"></i><span th:text="#{Home.footer.quickLinks.contactUs}">Contact Us</span></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<div class="single-footer">
							<h2 th:text="#{Home.footer.contactUs.title}">Contact Us</h2>
							<p th:text="#{Home.footer.contactUs.text}">We are committed to ensuring your satisfaction and are ready to offer guidance, information, and support every step of the way.</p>
							<br>
							<div class="media">
								<i class="fa fa-map-marker"> </i>
								<div class="media-body ml-3">
									<h6 style="color: white;" th:text="#{Home.footer.contactUs.addressTitle}">Address</h6>
									<span >Wodanstr. 12, 38106 Braunschweig, Germany </span >
								</div>
							</div>
							<div class="media">
								<i class="fa fa-envelope-o"></i>
								<div class="media-body ml-3">
									<h6 style="color: white;" th:text="#{Home.footer.contactUs.questionsTitle}">Have any questions?</h6>
									<a href="mailto:info@dermasign.de" >info@dermasign.de</a>
								</div>
							</div>
							<div class="media">
								<i class="fa fa-phone"></i>
								<div class="media-body ml-3">
									<h6 style="color: white;" th:text="#{Home.footer.contactUs.phoneTitle}">Call us</h6>
									<a href="tel:+4915164659752" > +49 (0) 151 6465 9752</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<div class="single-footer">
							<h2 th:text="#{Home.footer.newsletter.title}">Newsletter</h2>
							<p th:text="#{Home.footer.newsletter.text}">By subscribing to our mailing list you will always be updated with the latest news from us.</p>
							<form method="get" target="_blank" class="newsletter-inner">
								<input name="email" placeholder="Email Address" class="common-input" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your email address'" required="" type="email">
								<button class="button"><i class="icofont icofont-paper-plane"></i></button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/ End Footer Top -->
		<!-- Copyright -->
		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-12">
						<div class="copyright-content" style="display: flex; justify-content: space-between; align-items: center;">
							<p class="mb-0">&copy; 2024 All Rights Reserved. Design by
								<a href="#" target="_blank" class="fh5-link">DermaSign GmbH</a>
							</p>
							<p class="mb-0">
								<a href="#" style="color: white;" th:href="@{/termOfUse}" th:text="#{Home.footer.termsOfUse}">Terms Of Use</a>
								<a href="#" style="color: white; margin-left: 15px;" th:href="@{/datenschutz}" th:text="#{Home.footer.privacySecurity}">Privacy & Security Statement</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/ End Copyright -->
	</footer>
	<!--/ End Footer Area -->



	<!-- jquery Min JS -->
	<script src="/js/jquery.min.js"></script>
	<!-- jquery Migrate JS -->
	<script src="/js/jquery-migrate-3.0.0.js"></script>
	<!-- jquery Ui JS -->
	<script src="/js/jquery-ui.min.js"></script>
	<!-- Easing JS -->
	<script src="/js/easing.js"></script>
	<!-- Color JS -->
	<script src="/js/colors.js"></script>
	<!-- Popper JS -->
	<script src="/js/popper.min.js"></script>
	<!-- Bootstrap Datepicker JS -->
	<script src="/js/bootstrap-datepicker.js"></script>
	<!-- Jquery Nav JS -->
	<script src="/js/jquery.nav.js"></script>
	<!-- Slicknav JS -->
	<script src="/js/slicknav.min.js"></script>
	<!-- ScrollUp JS -->
	<script src="/js/jquery.scrollUp.min.js"></script>
	<!-- Niceselect JS -->
	<script src="/js/niceselect.js"></script>
	<!-- Tilt Jquery JS -->
	<script src="/js/tilt.jquery.min.js"></script>
	<!-- Owl Carousel JS -->
	<script src="/js/owl-carousel.js"></script>
	<!-- counterup JS -->
	<script src="/js/jquery.counterup.min.js"></script>
	<!-- Steller JS -->
	<script src="/js/steller.js"></script>
	<!-- Wow JS -->
	<script src="/js/wow.min.js"></script>
	<!-- Magnific Popup JS -->
	<script src="/js/jquery.magnific-popup.min.js"></script>
	<!-- Counter Up CDN JS -->
	<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="/js/bootstrap.min.js"></script>
	<!-- Main JS -->
	<script src="/js/main.js"></script>

	<!-- jQuery -->
	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="/js/fotorama.js"></script>
	<script src="/js/aos.js"></script>
	<script>
		AOS.init();
	</script>
    </body>
</html>