<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Document title -->
    <title th:text="#{WebsiteTitle}">Multipurpose</title>
    <!-- Stylesheets & Fonts -->
    <!-- Favicon -->
    <link rel="icon" href="/img/alt1/favicon.png">

    <link rel="stylesheet" href="/css/alt1/style.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i%7CRajdhani:400,600,700"
          rel="stylesheet">
    <!-- Plugins Stylesheets -->
    <link rel="stylesheet" href="/css/font-awesome/font-awesome.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/aos/aos.css">
    <link rel="stylesheet" href="/css/swiper/swiper.css">
    <link rel="stylesheet" href="/css/lightgallery.min.css">
    <!-- icofont CSS -->
    <link rel="stylesheet" href="/css/alt1/icofont.css">
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="/css/owl-carousel.css">
    <!-- Template Stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Responsive Stylesheet -->
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- Slick--navigation -->
    <link rel="stylesheet" href="/css/alt1/slicknav.min.css">
    <!-- Medipro CSS -->
    <link rel="stylesheet" href="/css/alt1/normalize.css">
    <link rel="stylesheet" href="/css/alt1/responsive.css">
    <!--jQuery-->
    <script src="/js/jquery-3.3.1.js"></script>
    <!--Plugins-->
    <script src="/js/bootstrap.bundle.js"></script>
    <script src="/js/swiper.min.js"></script>
    <script src="/js/lightgallery-all.min.js"></script>
    <!--Template Script-->
    <script src="/js/main.js"></script>
    <!-- Main JS -->
    <script src="/js/template.js"></script>

    <!-- 網頁特效相關 -->
    <script src="/js/aos.js"></script>
    <!-- 下面兩個都是用於控制slider -->
    <!-- jquery Migrate JS -->
    <script src="/js/alt1/jquery-migrate-3.0.0.js"></script>
    <!-- Owl Carousel JS -->
    <script src="/js/owl-carousel.js"></script>

    <!-- Magnific Popup JS -->
    <script src="/js/alt1/jquery.magnific-popup.min.js"></script>
    <!-- Slicknav JS -->
    <script src="/js/alt1/slicknav.min.js"></script>
    <!-- Wow JS -->
    <script src="/js/alt1/wow.min.js"></script>
</head>
<body>
<!-- Header Area -->
<header class="header" >
    <!-- Topbar -->
    <div class="topbar">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-5 col-12">
                    <!-- Contact -->
                    <ul class="top-link">
                        <li><a th:href="@{/test(localeData='de_DE')}">DE</a></li>
                        <li><a th:href="@{/test(localeData='en_US')}">EN</a></li>
                    </ul>
                    <!-- End Contact -->
                </div>
                <div class="col-lg-6 col-md-7 col-12">
                    <!-- Top Contact -->
                    <ul class="top-contact">
                        <li><i class="fa fa-shopping-cart"></i><a href="#">SHOP</a></li>
                        <li><i class="fa fa-user"></i><a href="#">LOGIN</a></li>
                    </ul>
                    <!-- End Top Contact -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Topbar -->
    <!-- Header Inner -->
    <div class="header-inner">
        <div class="container">
            <div class="inner">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-12">
                        <!-- Start Logo -->
                        <div class="logo">
                            <a href="homepage.html" th:href="@{/}"> <img src="/img/DermaSign/dermasign_logo.png" alt="#" width="178" height="37"></a>
                        </div>
                        <!-- End Logo -->
                        <!-- Mobile Nav -->
                        <div class="mobile-nav"></div>
                        <!-- End Mobile Nav -->
                    </div>
                    <div class="col-lg-7 col-md-9 col-12">
                        <!-- Main Menu -->
                        <div class="main-menu">
                            <nav class="navigation">
                                <ul class="nav menu">
                                    <li class="active"><a href="#" th:href="@{/}" th:text="#{Header.homepage}">Home</a></li>
                                    <li><a href="#" th:href="@{/about}" th:text="#{Header.about}">About Us</a></li>
                                    <li><a href="#" th:href="@{/news}" th:text="#{Header.news}">News </a></li>
                                    <li><a href="#" th:href="@{/contact}" th:text="#{Header.contact}">Contact </a></li>
                                    <li><a href="#">Pages <i class="icofont-rounded-down"></i></a>
                                        <ul class="dropdown">
                                            <li><a href="#" th:href="@{/404}">404 Error</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Blogs <i class="icofont-rounded-down"></i></a>
                                        <ul class="dropdown">
                                            <li><a href="#" th:href="@{/blog}">Blog Details</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <!--/ End Main Menu -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ End Header Inner -->
</header>
<!-- End Header Area -->

<!-- Slider Area -->
<section class="slider">
    <div class="hero-slider">
        <!-- Start Single Slider -->
        <div class="single-slider" style="background-image:url('/img/DermaSign/homepage_slide_1.png')">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="text">
                            <h1><span>ORGANISCHE HIDROX &reg;</span> SERIES</h1>
                            <p th:text="#{Homepage.slider1.descrption1}">Verbesserung der Schutz- und Absorptionsaktivität Patentierte Formulierung für intolerante Haut. </p>
                            <p th:text="#{Homepage.slider1.descrption2}">Verbesserung der Schutz- und Absorptionsaktivität Patentierte Formulierung für intolerante Haut. </p>
                            <div class="button">
                                <a href="#" th:href="@{/}" class="btn" th:text="#{Homepage.slider1.btn}">Jetzt Entdecken</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Single Slider -->
        <!-- Start Single Slider -->
        <div class="single-slider" style="background-image:url('/img/DermaSign/homepage_slide_2.png')">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="text">
                            <h1><span>ORGANISCHE HIDROX&reg;</span> SERIES</h1>
                            <p th:text="#{Homepage.slider1.descrption1}">Verbesserung der Schutz- und Absorptionsaktivität Patentierte Formulierung für intolerante Haut. </p>
                            <p th:text="#{Homepage.slider1.descrption2}">Verbesserung der Schutz- und Absorptionsaktivität Patentierte Formulierung für intolerante Haut. </p>
                            <div class="button">
                                <a href="#" th:href="@{/}" class="btn" th:text="#{Homepage.slider1.btn}">Jetzt Entdecken</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Start End Slider -->
    </div>
</section>
<!--/ End Slider Area -->

<!-- Services Start -->
<section class="services">
    <div class="container">
        <div class="title text-center">
            <h6>Our Speakers</h6>
            <h1 class="title-blue">Why Choose Us</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-4">
                    <div class="media" data-aos="fade-up" data-aos-delay="200" data-aos-duration="400">
                        <img class="mr-4" src="/img/alt2/service1.png" alt="Web Development">
                        <div class="media-body">
                            <h5>Web Development</h5>
                            Donec volutpat tincidunt neque, vitae lobortis libero mattis sed tempus.
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="media" data-aos="fade-up" data-aos-delay="400" data-aos-duration="600">
                        <img class="mr-4" src="/img/alt2/service2.png" alt="Web Development">
                        <div class="media-body">
                            <h5>Testing for perfection</h5>
                            Donec volutpat tincidunt neque, vitae lobortis libero mattis sed tempus.
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="media" data-aos="fade-up" data-aos-delay="600" data-aos-duration="800">
                        <img class="mr-4" src="/img/alt2/service3.png" alt="Web Development">
                        <div class="media-body">
                            <h5>Discussion of the idea</h5>
                            Donec volutpat tincidunt neque, vitae lobortis libero mattis sed tempus.
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="media" data-aos="fade-up" data-aos-delay="200" data-aos-duration="400">
                        <img class="mr-4" src="/img/alt2/service4.png" alt="Web Development">
                        <div class="media-body">
                            <h5>Modern style</h5>
                            Donec volutpat tincidunt neque, vitae lobortis libero mattis sed tempus.
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="media" data-aos="fade-up" data-aos-delay="400" data-aos-duration="600">
                        <img class="mr-4" src="/img/alt2/service1.png" alt="Web Development">
                        <div class="media-body">
                            <h5>Web Development</h5>
                            Donec volutpat tincidunt neque, vitae lobortis libero mattis sed tempus.
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="media" data-aos="fade-up" data-aos-delay="600" data-aos-duration="800">
                        <img class="mr-4" src="/img/alt2/service5.png" alt="Web Development">
                        <div class="media-body">
                            <h5>Elaboration of the core</h5>
                            Donec volutpat tincidunt neque, vitae lobortis libero mattis sed tempus.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services End -->

<!-- Featured Start -->
<section class="featured">
    <div class="container">
        <div class="row">
            <div class="col-md-6" data-aos="fade-right" data-aos-delay="400" data-aos-duration="800">
                <div class="title">
                    <h6 class="title-primary">about Tamplate</h6>
                    <h1 class="title-blue">a rich featured, epic & premium work.</h1>
                </div>
                <p>There are many variations of passages of available but the majority have suffered alteration in
                    some form, by injected humour, or randomised words which don't look even slightly believable. If
                    you are going to use a passage of you need to be sure there isn't anything embarrassing hidden
                    in the middle of text. All the generators on the Internet.</p>
                <div class="media-element d-flex justify-content-between">
                    <div class="media">
                        <i class="fa fa-magic mr-4"></i>
                        <div class="media-body">
                            <h5>any offer</h5>
                            New York, United States
                        </div>
                    </div>
                    <div class="media">
                        <i class="fa fa-magic mr-4"></i>
                        <div class="media-body">
                            <h5>any offer</h5>
                            New York, United States
                        </div>
                    </div>
                </div>
                <a href="#" class="btn btn-primary">See More</a>
            </div>
            <div class="col-md-6" data-aos="fade-left" data-aos-delay="400" data-aos-duration="800">
                <div class="featured-img">
                    <img class="featured-big" src="/img/alt2/featured-img1.jpg" alt="Featured 1">
                    <img class="featured-small" src="/img/alt2/featured-img2.jpg" alt="Featured 2">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Featured End -->
<!-- Recent Posts Start -->
<section class="recent-posts">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="single-rpost d-sm-flex align-items-center" data-aos="fade-right"
                     data-aos-duration="800">
                    <div class="post-content text-sm-right">
                        <time datetime="2019-04-06T13:53">15 Oct, 2019</time>
                        <h3><a href="#">Proudly for us to build stylish</a></h3>
                        <p><a href="#">Seanding</a>, <a href="#">Website</a>, <a href="#">E-commerce</a></p>
                        <a class="post-btn" href="#"><i class="fa fa-arrow-right"></i></a>
                    </div>
                    <div class="post-thumb">
                        <img class="img-fluid" src="/img/alt2/post1.jpg" alt="Post 1">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="single-rpost d-sm-flex align-items-center" data-aos="fade-left" data-aos-duration="800">
                    <div class="post-thumb">
                        <img class="img-fluid" src="/img/alt2/post2.jpg" alt="Post 1">
                    </div>
                    <div class="post-content">
                        <time datetime="2019-04-06T13:53">15 Oct, 2019</time>
                        <h3><a href="#">Remind me to water the plants</a></h3>
                        <p><a href="#">Seanding</a>, <a href="#">Website</a>, <a href="#">E-commerce</a></p>
                        <a class="post-btn" href="#"><i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="single-rpost d-sm-flex align-items-center" data-aos="fade-right" data-aos-delay="200"
                     data-aos-duration="800">
                    <div class="post-content text-sm-right">
                        <time datetime="2019-04-06T13:53">15 Oct, 2019</time>
                        <h3><a href="#">Add apples to the grocery list</a></h3>
                        <p><a href="#">Seanding</a>, <a href="#">Website</a>, <a href="#">E-commerce</a></p>
                        <a class="post-btn" href="#"><i class="fa fa-arrow-right"></i></a>
                    </div>
                    <div class="post-thumb">
                        <img class="img-fluid" src="/img/alt2/post3.jpg" alt="Post 1">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="single-rpost d-sm-flex align-items-center" data-aos="fade-left" data-aos-delay="200"
                     data-aos-duration="800">
                    <div class="post-thumb">
                        <img class="img-fluid" src="/img/alt2/post4.jpg" alt="Post 1">
                    </div>
                    <div class="post-content">
                        <time datetime="2019-04-06T13:53">15 Oct, 2019</time>
                        <h3><a href="#">Make it warmer downstairs</a></h3>
                        <p><a href="#">Seanding</a>, <a href="#">Website</a>, <a href="#">E-commerce</a></p>
                        <a class="post-btn" href="#"><i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <a href="#" class="btn btn-primary">See More</a>
        </div>
    </div>
</section>
<!-- Recent Posts End -->
<!-- Trust Start -->
<section class="trust">
    <div class="container">
        <div class="row">
            <div class="offset-xl-1 col-xl-6" data-aos="fade-right" data-aos-delay="200" data-aos-duration="800">
                <div class="title">
                    <h6 class="title-primary">about Tamplate</h6>
                    <h1>a rich featured, epic & premium work.</h1>
                </div>
                <p>Suspendisse facilisis commodo lobortis. Nullam mollis lobortis ex vel faucibus. Proin nec viverra
                    turpis. Nulla eget justo scelerisque, pretium purus vel, congue libero. Suspendisse potenti.
                </p>
                <h5>Web Design & Development</h5>
                <ul class="list-unstyled">
                    <li>Web Content</li>
                    <li>Website other</li>
                    <li>Fashion</li>
                    <li>Moblie & Tablette</li>
                </ul>
            </div>
            <div class="col-xl-5 gallery">
                <div class="row no-gutters h-100" id="lightgallery">
                    <a href="https://lorempixel.com/600/400/" class="w-50 h-100 gal-img" data-aos="fade-up"
                       data-aos-delay="200" data-aos-duration="400">
                        <img class="img-fluid" src="/img/alt2/gallery1.jpg" alt="Gallery Image">
                        <i class="fa fa-caret-right"></i>
                    </a>
                    <a href="https://lorempixel.com/600/400/" class="w-50 h-50 gal-img" data-aos="fade-up"
                       data-aos-delay="400" data-aos-duration="600">
                        <img class="img-fluid" src="/img/alt2/gallery2.jpg" alt="Gallery Image">
                        <i class="fa fa-caret-right"></i>
                    </a>
                    <a href="https://lorempixel.com/600/400/" class="w-50 h-50 gal-img gal-img3" data-aos="fade-up"
                       data-aos-delay="0" data-aos-duration="600">
                        <img class="img-fluid" src="/img/alt2/gallery3.jpg" alt="Gallery Image">
                        <i class="fa fa-caret-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Trust End -->
<!-- Pricing Start -->
<section class="pricing-table">
    <div class="container">
        <div class="title text-center">
            <h6 class="title-primary">Our prices</h6>
            <h1 class="title-blue">Price Table List</h1>
        </div>
        <div class="row no-gutters">
            <div class="col-md-4">
                <div class="single-pricing text-center" data-aos="fade-up" data-aos-delay="0"
                     data-aos-duration="600">
                    <span>Monthly</span>
                    <h2>Starter</h2>
                    <p class="desc">Here goes some description</p>
                    <p class="price">$39.00</p>
                    <p>Create excepteur sint occaecat cupidatat non proident</p>
                    <a href="#" class="btn btn-primary">Buy Now</a>
                    <svg viewBox="0 0 170 193">
                        <path fill-rule="evenodd" fill="rgb(238, 21, 21)"
                              d="M39.000,31.999 C39.000,31.999 -21.000,86.500 9.000,121.999 C39.000,157.500 91.000,128.500 104.000,160.999 C117.000,193.500 141.000,201.000 150.000,183.000 C159.000,165.000 172.000,99.000 167.000,87.000 C162.000,75.000 170.000,63.000 152.000,45.000 C134.000,27.000 128.000,15.999 116.000,11.000 C104.000,6.000 89.000,-0.001 89.000,-0.001 L39.000,31.999 Z" />
                    </svg>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-pricing text-center" data-aos="fade-up" data-aos-delay="300"
                     data-aos-duration="600">
                    <span>Monthly</span>
                    <h2>Starter</h2>
                    <p class="desc">Here goes some description</p>
                    <p class="price">$39.00</p>
                    <p>5GB Storage Space</p>
                    <p>20GB Monthly Bandwidth</p>
                    <p>My SQL Databases</p>
                    <p>100 Email Account</p>
                    <a href="#" class="btn btn-primary">Buy Now</a>
                    <svg viewBox="0 0 170 193">
                        <path fill-rule="evenodd" fill="rgb(238, 21, 21)"
                              d="M39.000,31.999 C39.000,31.999 -21.000,86.500 9.000,121.999 C39.000,157.500 91.000,128.500 104.000,160.999 C117.000,193.500 141.000,201.000 150.000,183.000 C159.000,165.000 172.000,99.000 167.000,87.000 C162.000,75.000 170.000,63.000 152.000,45.000 C134.000,27.000 128.000,15.999 116.000,11.000 C104.000,6.000 89.000,-0.001 89.000,-0.001 L39.000,31.999 Z" />
                    </svg>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-pricing text-center" data-aos="fade-up" data-aos-delay="600"
                     data-aos-duration="600">
                    <span>Monthly</span>
                    <h2>Starter</h2>
                    <p class="desc">Here goes some description</p>
                    <p class="price">$39.00</p>
                    <p>Create excepteur sint occaecat cupidatat non proident</p>
                    <a href="#" class="btn btn-primary">Buy Now</a>
                    <svg viewBox="0 0 170 193">
                        <path fill-rule="evenodd" fill="rgb(238, 21, 21)"
                              d="M39.000,31.999 C39.000,31.999 -21.000,86.500 9.000,121.999 C39.000,157.500 91.000,128.500 104.000,160.999 C117.000,193.500 141.000,201.000 150.000,183.000 C159.000,165.000 172.000,99.000 167.000,87.000 C162.000,75.000 170.000,63.000 152.000,45.000 C134.000,27.000 128.000,15.999 116.000,11.000 C104.000,6.000 89.000,-0.001 89.000,-0.001 L39.000,31.999 Z" />
                    </svg>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Pricing End -->
<!-- Testimonial and Clients Start -->
<section class="testimonial-and-clients">
    <div class="container">
        <div class="testimonials">
            <div class="swiper-container test-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide text-center">
                        <div class="row">
                            <div class="offset-lg-1 col-lg-10">
                                <div class="test-img" data-aos="fade-up" data-aos-delay="0" data-aos-offset="0"><img
                                        src="/img/alt2/test1.png" alt="Testimonial 1"></div>
                                <h5 data-aos="fade-up" data-aos-delay="200" data-aos-duration="600"
                                    data-aos-offset="0">John</h5>
                                <span data-aos="fade-up" data-aos-delay="400" data-aos-duration="600"
                                      data-aos-offset="0">UI/UX
                                        Designer</span>
                                <p data-aos="fade-up" data-aos-delay="600" data-aos-duration="600"
                                   data-aos-offset="0">Ash's tactics &
                                    books have helped me a lot in my understanding on how social
                                    media
                                    advertising works.I can say that he is one of the best development professionals
                                    i have
                                    dealt with so far. His experience is great & he is such a great & pleasant
                                    person to
                                    work with as he understands what you are</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide text-center">
                        <div class="row">
                            <div class="offset-lg-1 col-lg-10">
                                <div class="test-img" data-aos="fade-up" data-aos-delay="0" data-aos-offset="0"><img
                                        src="/img/alt2/test1.png" alt="Testimonial 1"></div>
                                <h5 data-aos="fade-up" data-aos-delay="200" data-aos-duration="600"
                                    data-aos-offset="0">John</h5>
                                <span data-aos="fade-up" data-aos-delay="400" data-aos-duration="600"
                                      data-aos-offset="0">UI/UX
                                        Designer</span>
                                <p data-aos="fade-up" data-aos-delay="600" data-aos-duration="600"
                                   data-aos-offset="0">Ash's tactics &
                                    books have helped me a lot in my understanding on how social
                                    media
                                    advertising works.I can say that he is one of the best development professionals
                                    i have
                                    dealt with so far. His experience is great & he is such a great & pleasant
                                    person to
                                    work with as he understands what you are</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide text-center">
                        <div class="row">
                            <div class="offset-lg-1 col-lg-10">
                                <div class="test-img" data-aos="fade-up" data-aos-delay="0" data-aos-offset="0"><img
                                        src="/img/alt2/test1.png" alt="Testimonial 1"></div>
                                <h5 data-aos="fade-up" data-aos-delay="200" data-aos-duration="600"
                                    data-aos-offset="0">John</h5>
                                <span data-aos="fade-up" data-aos-delay="400" data-aos-duration="600"
                                      data-aos-offset="0">UI/UX
                                        Designer</span>
                                <p data-aos="fade-up" data-aos-delay="600" data-aos-duration="600"
                                   data-aos-offset="0">Ash's tactics &
                                    books have helped me a lot in my understanding on how social
                                    media
                                    advertising works.I can say that he is one of the best development professionals
                                    i have
                                    dealt with so far. His experience is great & he is such a great & pleasant
                                    person to
                                    work with as he understands what you are</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="test-pagination"></div>
            </div>
        </div>
        <div class="clients" data-aos="fade-up" data-aos-delay="200" data-aos-duration="600">
            <div class="swiper-container clients-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="/img/alt2/client1.png" alt="Client 1">
                    </div>
                    <div class="swiper-slide">
                        <img src="/img/alt2/client2.png" alt="Client 2">
                    </div>
                    <div class="swiper-slide">
                        <img src="/img/alt2/client3.png" alt="Client 3">
                    </div>
                    <div class="swiper-slide">
                        <img src="/img/alt2/client4.png" alt="Client 4">
                    </div>
                    <div class="swiper-slide">
                        <img src="/img/alt2/client5.png" alt="Client 5">
                    </div>
                </div>
                <div class="test-pagination"></div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial and Clients End -->
<!-- Call To Action 2 Start -->
<section class="cta cta2" data-aos="fade-up" data-aos-delay="0">
    <div class="container">
        <div class="cta-content d-xl-flex align-items-center justify-content-around text-center text-xl-left">
            <div class="content" data-aos="fade-right" data-aos-delay="200">
                <h2>FOR BUILDING THE MODERN WEBSITE</h2>
                <p>Packed with all the goodies you can get, Kallyas is our flagship premium template.</p>
            </div>
            <div class="subscribe-btn" data-aos="fade-left" data-aos-delay="400" data-aos-offset="0">
                <a href="#" class="btn btn-primary">Join Newsletter</a>
            </div>
        </div>
    </div>
</section>
<!-- Call To Action 2 End -->

<!-- Footer Area -->
<footer id="footer" class="footer ">
    <!-- Footer Top -->
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-footer">
                        <h2>About Us</h2>
                        <p>Lorem ipsum dolor sit am consectetur adipisicing elit do eiusmod tempor incididunt ut labore dolore magna.</p>
                        <!-- Social -->
                        <ul class="social">
                            <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                        <!-- End Social -->
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-footer f-link">
                        <h2>Quick Links</h2>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12">
                                <ul>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Home</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>About Us</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Services</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Our Cases</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Other Links</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <ul>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Consuling</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Finance</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Testimonials</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>FAQ</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-footer contact-widget" data-aos="fade-up" data-aos-delay="0">
                        <h2>Contact Us</h2>
                        <p>By subscribing to our mailing list you will always be update with the latest news from
                            us.
                        </p>
                        <div class="media">
                            <i class="fa fa-map-marker"></i>
                            <div class="media-body ml-3">
                                <h6>Address</h6>
                                Level 13, 2 Elizabeth St,<br>
                                Melbourne, Victoria 3000 Australia
                            </div>
                        </div>
                        <div class="media">
                            <i class="fa fa-envelope-o"></i>
                            <div class="media-body ml-3">
                                <h6>Have any questions?</h6>
                                <a href="mailto:support@steelthemes.com">Support@Steelthemes.com</a>
                            </div>
                        </div>
                        <div class="media">
                            <i class="fa fa-phone"></i>
                            <div class="media-body ml-3">
                                <h6>Call us & Hire us</h6>
                                <a href="tel:+610791803458"> +61 (0) 7 9180 3458</a>
                            </div>
                        </div>
                        <div class="media">
                            <i class="fa fa-fax"></i>
                            <div class="media-body ml-3">
                                <h6>Fax</h6>
                                <a href="fax:911889047521432">(91) 188904752 1432</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-footer">
                        <h2>Newsletter</h2>
                        <p>subscribe to our newsletter to get allour news in your inbox.. Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
                        <form action="/send-email" method="get" target="_blank" class="newsletter-inner">
                            <input name="email" placeholder="Email Address" class="common-input" onfocus="this.placeholder = ''"
                                   onblur="this.placeholder = 'Your email address'" required="" type="email">
                            <button class="button"><i class="icofont icofont-paper-plane"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ End Footer Top -->

    <!-- Copyright -->
    <div class="foot-note">
        <div class="container">
            <div class="footer-content text-center text-lg-left d-lg-flex justify-content-between align-items-center">
                <p class="mb-0" data-aos="fade-right" data-aos-offset="0">&copy; 2024 All Rights Reserved. Design by <a href="https://www.linkedin.com/in/yixin-peng-babaa81ba/" target="_blank" class="fh5-link">Yixin Peng</a></p>
                <p class="mb-0" data-aos="fade-left" data-aos-offset="0"><a href="#">Terms Of Use</a>
                    <a href="#">Privacy & Security Statement</a></p>
            </div>
        </div>
    </div>
    <!--/ End Copyright -->
</footer>
<!--/ End Footer Area -->



</body>

</html>