<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>CodePen - Form Animations</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:400,600'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'><link rel="stylesheet" href="/css/form.css">

</head>
<body>
<!-- partial:index.partial.html -->
<button class="bg-toggle">Toggle dark/light</button>

<form action="#" novalidate>
    <div class="form-group has-icon fa-envelope-o">
        <label class="movable" for="email">Email address</label>
        <input type="email" name="email" id="email" class="form-field required email" />
        <span class="error-message">Please enter a valid email address</span>
    </div>
    <div class="form-group has-icon fa-user-o">
        <label class="movable" for="name">Name</label>
        <input type="text" name="name" id="name" class="form-field required" />
        <span class="error-message">This is a required field with a much longer error message to see what it's like with multiple lines</span>
    </div>
    <div class="form-group has-icon fa-comment-o">
        <label class="movable" for="comment">Comment</label>
        <textarea name="comment" id="comment" rows="6" class="form-field required"></textarea>
        <span class="error-message">Comment perhaps?</span>
    </div>
    <div class="form-group has-icon select fa-heart-o">
        <label class="movable" for="options">Select an option</label>
        <select name="options" id="options" class="form-field required">
            <option value="" selected>Select an option</option>
            <option value="1">This is a great option</option>
            <option value="2">This option is cool too</option>
            <option value="3">This option is okay I guess</option>
        </select>
        <span class="error-message">Select something tho...</span>
    </div>
    <div class="form-group has-icon select dropdown-up fa-diamond">
        <label class="movable" for="moreoptions">Another dropdown but up this time</label>
        <select name="moreoptions" id="moreoptions" class="form-field required">
            <option value="" selected>Another dropdown but up this time</option>
            <option value="1">How about checking what an option that's longer than one line looks like?</option>
            <option value="2">Lorem my ipsum</option>
            <option value="3">Me: *adds placeholder*</option>
            <option value="4">Place: *is hold*</option>
        </select>
        <span class="error-message">Select something tho...</span>
    </div>
    <div class="form-group checkbox">
        <input type="checkbox" class="fa fa-check" name="news" id="news" />
        <label for="news">Get news updates</label>
    </div>
    <div class="form-group">
        <button type="submit" class="form-submit">Submit Form</button>
    </div>
</form>
<!-- partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script><script  src="/js/form.js"></script>

</body>
</html>
